# macOS
.DS_Store

# Jupyter notebook temp files
.ipynb_checkpoints/
.jupyter/

# Virtual envs
venv/
env/
.venv/

# Datasets
*.parquet
*.csv
*.json
data/


# Python cache
__pycache__/
*.pyc

# Old dataset
gdc-ml/
